@font-face {
  font-family: "interstate-bold";
  src: url("../fonts/interstate-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate-bold.woff") format("woff"), url("../fonts/interstate-bold.ttf") format("truetype"), url("../fonts/interstate-bold.svg#interstate-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
$font-body: ("Montserrat", sans-serif);
$font-regular: 400;
$font-bold: 700;
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: black;
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/
h1, h2, h3, h4, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal; }

h1, h2, h3, h4 {
  font-family: "interstate-bold";
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;
  text-transform: uppercase; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h2 + p,
h3 + p,
h4 + p {
  padding: 0.5rem 0 0; }

p + h1, p + h2, p + h3, p + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4,
dl + h1, dl + h2, dl + h3, dl + h4 {
  padding: 2rem 0 0; }

p {
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5; }

strong, em, b {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal; }

small {
  font-size: 0.8rem; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

.visuallyhidden {
  display: none; }

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

a:hover, a:focus {
  color: gray; }

a.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: 1rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  color: inherit; }
  a.arrow span {
    display: block;
    width: 1.25rem;
    height: 1.25rem; }
    a.arrow span svg {
      width: 100%;
      height: 100%;
      margin: 0 0 0 0.25rem;
      -webkit-transition: all 0.325s ease 0s;
      -moz-transition: all 0.325s ease 0s;
      -ms-transition: all 0.325s ease 0s;
      -o-transition: all 0.325s ease 0s;
      transition: all 0.325s ease 0s; }

a.arrow:hover, a.arrow:focus {
  text-decoration: underline; }
  a.arrow:hover span svg, a.arrow:focus span svg {
    margin: 0 0 0 0.75rem; }

button, .button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem 1.75rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-family: "interstate-bold";
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  background-color: black;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

button:hover, button:focus,
.button:hover, .button:focus {
  color: black;
  background-color: transparent; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 2rem; }
  footer p.copyright {
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase; }

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 56rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  text-align: center; }
  .introduction .logo {
    display: grid;
    width: calc(100vh / 4); }
    .introduction .logo svg {
      width: 100%; }
  .introduction .lighthouse p {
    padding: 2rem 0 0;
    font-size: calc(100vh / 22.5);
    line-height: 1.25; }
  .introduction .cta a.button {
    margin: 4rem auto 0;
    border-color: black;
    color: black;
    background-color: white;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
  .introduction .cta a:hover.button, .introduction .cta a:focus.button {
    color: white;
    background-color: black; }

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0; }
  .work h1 {
    padding: 0 2rem;
    font-size: 3.157rem;
    text-align: center; }
  .work h1 + p {
    max-width: none;
    padding: 1rem 2rem 0;
    font-size: 1.5rem;
    text-align: center; }
  .work .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 4rem 2rem; }
    .work .project figure {
      width: 50%;
      margin: 0 auto; }
      .work .project figure picture {
        display: block; }
    .work .project .overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: black; }
    .work .project .text {
      position: relative;
      width: 100%;
      margin: 1rem 0 0;
      padding: 0; }
      .work .project .text div {
        padding: 1.5rem 0 0; }
      .work .project .text .button {
        margin: 1.5rem 0 0;
        font-size: 0.8rem; }
      .work .project .text a.arrow {
        margin: 2rem 0 0;
        text-decoration: none;
        text-transform: uppercase; }
        .work .project .text a.arrow svg {
          fill: white; }
      .work .project .text a.arrow:hover svg, .work .project .text a:focus svg {
        fill: black; }
    .work .project .text div:first-of-type {
      padding: 0; }

@media (min-width: 48rem) {
  .work {
    flex-direction: row;
    flex-wrap: wrap; }
    .work .project {
      flex-direction: row;
      align-items: center;
      width: 50%; }
      .work .project figure {
        width: 25%;
        margin: 0; }
      .work .project .text {
        width: 50%;
        margin: -1rem 0 0;
        padding: 0 0 0 4rem; }
    .work .project.reverse {
      flex-direction: row-reverse; }
      .work .project.reverse .text {
        padding: 0 4rem 0 0; }
    .work .project.wide {
      width: 100%; } }

@media (min-width: 64rem) {
  .work .project figure {
    width: 30%; } }

/* CUSTOMIZED WORK SECTIONS */
.work .project.embello {
  color: white;
  background-color: #b56422; }
  .work .project.embello figure {
    width: 100%; }
  .work .project.embello .text div:first-of-type {
    padding: 2rem 0 0; }

.work .project.bright-bucks {
  color: white;
  background-color: #896bdb; }
  .work .project.bright-bucks .text a {
    text-decoration: underline;
    color: white; }
  .work .project.bright-bucks .text a:hover, .work .project.bright-bucks .text a:focus {
    color: black; }
  .work .project.bright-bucks .text a.arrow {
    text-decoration: none; }

.work .project.solana {
  color: white;
  background-color: #009e65; }
  .work .project.solana .text a {
    text-decoration: underline;
    color: white; }
  .work .project.solana .text a:hover, .work .project.solana .text a:focus {
    color: black; }
  .work .project.solana .text a.arrow {
    text-decoration: none; }

.work .project.flo-recruit {
  color: white;
  background-color: #d0204e; }
  .work .project.flo-recruit .text a {
    text-decoration: underline;
    color: white; }
  .work .project.flo-recruit .text a:hover, .work .project.flo-recruit .text a:focus {
    color: black; }
  .work .project.flo-recruit .text a.arrow {
    text-decoration: none; }

@media (min-width: 48rem) {
  .work .project.embello {
    padding: 4rem 2rem; }
    .work .project.embello figure {
      width: 50%; }
    .work .project.embello .text {
      padding: 0 0 0 4rem; }
    .work .project.embello .text div:first-of-type {
      padding: 0; }
  .work .project.solana .text {
    padding: 0 0 0 2rem; } }

.clients {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #eeeeee; }
  .clients ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none; }
    .clients ul li {
      display: grid;
      margin: 2rem 0 0;
      padding: 0 1rem;
      width: 25%;
      width: calc(100vh / 5);
      height: auto; }

.about {
  margin: 0 auto;
  padding: 5.5rem 2rem 0; }
  .about h1, .about p {
    margin: 0 auto;
    text-align: center; }
  .about .team ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    font-size: 0.8rem;
    line-height: 1.5;
    list-style: none;
    text-transform: uppercase; }
    .about .team ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal; }
      .about .team ul li img {
        width: 6rem;
        height: 6rem;
        margin: 0 0 0.5rem;
        border-radius: 100%; }
      .about .team ul li a span.name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: "interstate-bold";
        font-weight: normal;
        font-style: normal;
        font-size: 1.333rem;
        -webkit-transition: all 0.325s ease 0s;
        -moz-transition: all 0.325s ease 0s;
        -ms-transition: all 0.325s ease 0s;
        -o-transition: all 0.325s ease 0s;
        transition: all 0.325s ease 0s; }
        .about .team ul li a span.name span.social {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 0 0 0.5rem; }
          .about .team ul li a span.name span.social svg {
            fill: black;
            -webkit-transition: all 0.325s ease 0s;
            -moz-transition: all 0.325s ease 0s;
            -ms-transition: all 0.325s ease 0s;
            -o-transition: all 0.325s ease 0s;
            transition: all 0.325s ease 0s; }
      .about .team ul li a:hover span.name, .about .team ul li a:focus span.name {
        color: #0a66c2; }
        .about .team ul li a:hover span.name span.social svg, .about .team ul li a:focus span.name span.social svg {
          fill: #0a66c2; }
  .about .services p {
    text-align: left; }

@media (min-width: 48rem) {
  .about {
    padding: 5.5rem 2rem 4rem; }
    .about p {
      font-size: 1.2rem; }
    .about .team ul {
      flex-direction: row; }
      .about .team ul li {
        width: 50%; } }

.contact {
  padding: 2rem;
  text-align: center; }
  .contact p {
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.625; }

@media (min-width: 48rem) {
  .contact {
    padding: 4rem 2rem; } }
