// FONTS
@font-face {
  font-family: "bau-regular";
  src: url("../fonts/bau-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bau-regular.woff") format("woff"), url("../fonts/bau-regular.ttf") format("truetype"), url("../fonts/bau-regular.svg#bau-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interstate-bold";
  src: url("../fonts/interstate-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate-bold.woff") format("woff"), url("../fonts/interstate-bold.ttf") format("truetype"), url("../fonts/interstate-bold.svg#interstate-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin font-body {
  font-family: "bau-regular";
  font-weight: normal;
  font-style: normal;
}

@mixin font-headline {
  font-family: "interstate-bold";
  font-weight: normal;
  font-style: normal;
}

@mixin font-bold {
  font-family: "interstate-bold";
  font-weight: normal;
  font-style: normal;
}


$font-body: ("bau-regular", sans-serif);
$font-light: 300;
$font-regular: 400;
$font-bold: 600;

@mixin font-light {
  font-family: $font-body;
  font-style: normal;
  font-weight: $font-light;
}

@mixin font-regular {
  font-family: $font-body;
  font-style: normal;
  font-weight: $font-regular;
}

/*
@mixin font-bold {
  font-family: $font-body;
  font-style: normal;
  font-weight: $font-bold;
}
*/


// MIXINS
@mixin transition($property, $easing, $duration, $delay) {
  -webkit-transition: $property $easing $duration $delay;
  -moz-transition: $property $easing $duration $delay;
  -ms-transition: $property $easing $duration $delay;
  -o-transition: $property $easing $duration $delay;
  transition: $property $easing $duration $delay;
};

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
};


// BASE
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  @include font-body;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: black;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}