// ABOUT
main.about {
  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    color: white;
    h1 {
      span {
        display: block;
        width: 100%;
        margin: 0 0 1rem;
        @include font-body-bold;
        font-size: 0.8rem;
        line-height: 2;
        text-transform: uppercase;
        color: $color-accen;
      }
    }
  }
  .mission {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    background: $color-lt-gray;
    h2 {
      background: $color-lt-gray;
      span {
        display: block;
        width: 100%;
        margin: 0 0 0.25rem;
        @include font-body-bold;
        font-size: 0.8rem;
        line-height: 2;
        text-transform: uppercase;
        color: $color-accen;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem 0 0;
      padding: 0;
      list-style: none;
      counter-reset: value;
      li {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 2rem;
        @include font-headline;
        font-size: 1.333rem;
        span {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;
          margin: 0 0 0.25rem;
        }
        span::before {
          flex: 0 1 auto;
          padding: 0 0.5rem 0 0;
          @include font-body-bold;
          font-size: 90%;
          color: $color-accen;
          counter-increment: value;
          content: "0" counter(value);
        }
        span::after {
          display: block;
          flex: 1;
          height: 1px;
          background: $color-md-gray;
          content: "";
        }
      }
      li:last-of-type {margin: 0;}
    }
  }
  .team {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    background: white;
    h2 {
      span {
        display: block;
        width: 100%;
        margin: 0 0 0.25rem;
        @include font-body-bold;
        font-size: 0.8rem;
        line-height: 2;
        text-transform: uppercase;
        color: $color-accen;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem 0 0;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 0 1rem;
        figure {
          display: grid;
          overflow: hidden;
          width: 25%;
          margin: 0;
          border-radius: 0.25rem;
          a img {
            @include transition(all, 2.5s, ease, 0s);
            @include transform(scale(1));
          }
          a:hover img, a:focus img {@include transform(scale(1.25));}
        }
        a .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 0 0 1rem;
          @include transition(all, 0.325s, ease, 0s);
          .who {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            span.social {
              width: 1.75rem;
              min-width: 1.75rem;
              height: 1.75rem;
              margin: 0 0.25rem 0 0;
              svg {
                width: 100%;
                height: 100%;
                @include transition(all, 0.325s, ease, 0s);
              }
            }
            span.name {
              @include font-headline;
              font-size: 1.777rem;
            }
          }
          .what {
            padding: 0 0 0 2rem;
            font-size: 1rem;
            text-transform: capitalize;
          }
        }
        a:hover .text, a:focus .text {
          color: $color-hover;
          .who {
            span.social {fill: $color-hover;}
          }
        }
      }
      li:last-of-type {margin: 0;}
    }
    article {padding: 2rem 0 0;}
  }
}