* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: black;
  background: #1b1e2e;
  scroll-behavior: smooth; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

@media (min-width: 64rem) {
  html {
    font-size: 120%; } }

@media (min-width: 90rem) {
  html {
    font-size: 150%; } }

body, .body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0; }

body.open {
  position: fixed;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden; }

main {
  display: block; }

picture {
  display: grid; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/
h1, h2, h3, h4, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal; }

h1, h2, h3, h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h2 + p,
h3 + p,
h4 + p {
  padding: 0.5rem 0 0; }

p + h1, p + h2, p + h3, p + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4,
dl + h1, dl + h2, dl + h3, dl + h4 {
  padding: 2rem 0 0; }

p {
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5; }

strong, em, b {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal; }

small {
  font-size: 0.8rem; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

.visuallyhidden {
  display: none; }

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

a.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: 1rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit; }
  a.arrow span {
    display: grid;
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 0.25rem;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
    a.arrow span svg {
      width: 100%;
      height: 100%; }

a.arrow:hover, a.arrow:focus {
  color: #ff5000; }
  a.arrow:hover span, a.arrow:focus span {
    margin: 0 0 0 0.5rem;
    fill: #ff5000; }

button, .button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem 1.75rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  background-color: black;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

button:hover, button:focus,
.button:hover, .button:focus {
  color: black;
  background-color: transparent; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 2rem; }
  header .logo {
    display: grid;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 20%;
    max-width: 3.5rem;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
  header .logo.open {
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
    transform: translateX(-10rem); }

.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0; }

.headroom {
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
  will-change: transform; }

.headroom--pinned {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem;
  color: white; }
  footer .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 2rem;
    color: white; }
    footer .contact h2 span {
      display: block;
      width: 100%;
      margin: 0 0 0.25rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 2;
      text-transform: uppercase;
      color: #c69b45; }
    footer .contact p a.arrow svg {
      fill: white; }
    footer .contact p a.arrow:hover svg, footer .contact p a.arrow:focus svg {
      fill: #ff5000; }
  footer nav {
    width: 100%; }
    footer nav ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: inherit;
      margin: auto;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 1.5;
      list-style-type: none;
      color: white; }
      footer nav ul li {
        padding: 0 0.5rem;
        color: #939393; }
      footer nav ul li a {
        color: white; }
      footer nav ul li a:hover, footer nav ul li a:focus {
        color: #ff5000; }
  footer p.copyright {
    padding: 1rem 0 0;
    font-size: 0.8rem;
    text-align: center; }

@media (min-width: 64rem) {
  footer {
    padding: 4rem; } }

main.home .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: white; }
  main.home .introduction h1 span {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }

@media (min-width: 64rem) {
  main.home .introduction {
    padding: 4rem; } }

main.home .explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background: white; }
  main.home .explore h2 span {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }
  main.home .explore article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0; }
    main.home .explore article figure {
      display: block;
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0 0 0.5rem; }
      main.home .explore article figure a picture {
        overflow: hidden;
        border-radius: 0.25rem; }
        main.home .explore article figure a picture source, main.home .explore article figure a picture img {
          -webkit-transition: all 2.5s ease 0s;
          -moz-transition: all 2.5s ease 0s;
          -ms-transition: all 2.5s ease 0s;
          -o-transition: all 2.5s ease 0s;
          transition: all 2.5s ease 0s;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1); }
      main.home .explore article figure a:hover picture source, main.home .explore article figure a:hover picture img, main.home .explore article figure a:focus picture source, main.home .explore article figure a:focus picture img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
      main.home .explore article figure figcaption {
        display: block;
        margin: 1rem 0 0; }
        main.home .explore article figure figcaption span {
          display: block;
          width: 100%;
          margin: 1rem 0;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 0.8rem;
          text-transform: uppercase; }
      main.home .explore article figure figcaption a {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5;
        -webkit-transition: all 0.325s ease 0s;
        -moz-transition: all 0.325s ease 0s;
        -ms-transition: all 0.325s ease 0s;
        -o-transition: all 0.325s ease 0s;
        transition: all 0.325s ease 0s; }
      main.home .explore article figure figcaption a:hover, main.home .explore article figure figcaption a:focus {
        color: #ff5000; }
    main.home .explore article figure::after {
      display: block;
      width: 100%;
      height: 1px;
      margin: 1rem 0 0;
      background: #f5f5f5;
      content: ""; }
  main.home .explore article:last-of-type figure:after {
    display: none; }

@media (min-width: 48rem) {
  main.home .explore {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    main.home .explore h2 {
      width: 100%; }
    main.home .explore article {
      width: 50%;
      margin: 2rem 0 0; }
      main.home .explore article figure::after {
        display: none; }
    main.home .explore article:first-of-type {
      padding: 0 1rem 0 0; }
    main.home .explore article:last-of-type {
      padding: 0 0 0 1rem; } }

@media (min-width: 64rem) {
  main.home .explore {
    padding: 4rem; } }

/* SERVICES */
main.home .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: #f5f5f5; }
  main.home .services h2 span {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }
  main.home .services ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    counter-reset: value; }
    main.home .services ul li {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 0 2rem;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.333rem; }
      main.home .services ul li span {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0 0 0.25rem; }
      main.home .services ul li span::before {
        flex: 0 1 auto;
        padding: 0 0.5rem 0 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 90%;
        color: #c69b45;
        counter-increment: value;
        content: "0" counter(value); }
      main.home .services ul li span::after {
        display: block;
        flex: 1;
        height: 1px;
        background: #c4c4c4;
        content: ""; }
    main.home .services ul li:last-of-type {
      margin: 0; }

@media (min-width: 48rem) {
  main.home .services ul {
    flex-direction: row;
    justify-content: space-between; }
    main.home .services ul li {
      width: 30%;
      margin: 0; } }

@media (min-width: 64rem) {
  main.home .services {
    padding: 4rem; } }

/* TEAM */
main.home .team {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: white; }
  main.home .team h2 span {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }
  main.home .team ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none; }
    main.home .team ul li {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0 0 1rem; }
      main.home .team ul li figure {
        display: grid;
        overflow: hidden;
        width: 25%;
        margin: 0;
        border-radius: 0.25rem; }
        main.home .team ul li figure a img {
          -webkit-transition: all 2.5s ease 0s;
          -moz-transition: all 2.5s ease 0s;
          -ms-transition: all 2.5s ease 0s;
          -o-transition: all 2.5s ease 0s;
          transition: all 2.5s ease 0s;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1); }
        main.home .team ul li figure a:hover img, main.home .team ul li figure a:focus img {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -ms-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25); }
      main.home .team ul li a .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 1rem;
        -webkit-transition: all 0.325s ease 0s;
        -moz-transition: all 0.325s ease 0s;
        -ms-transition: all 0.325s ease 0s;
        -o-transition: all 0.325s ease 0s;
        transition: all 0.325s ease 0s; }
        main.home .team ul li a .text .who {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%; }
          main.home .team ul li a .text .who span.social {
            width: 1.75rem;
            min-width: 1.75rem;
            height: 1.75rem;
            margin: 0 0.25rem 0 0; }
            main.home .team ul li a .text .who span.social svg {
              width: 100%;
              height: 100%;
              -webkit-transition: all 0.325s ease 0s;
              -moz-transition: all 0.325s ease 0s;
              -ms-transition: all 0.325s ease 0s;
              -o-transition: all 0.325s ease 0s;
              transition: all 0.325s ease 0s; }
          main.home .team ul li a .text .who span.name {
            font-family: "Libre Baskerville", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.777rem; }
        main.home .team ul li a .text .what {
          padding: 0 0 0 2rem;
          font-size: 1rem;
          text-transform: capitalize; }
      main.home .team ul li a:hover .text, main.home .team ul li a:focus .text {
        color: #ff5000; }
        main.home .team ul li a:hover .text .who span.social, main.home .team ul li a:focus .text .who span.social {
          fill: #ff5000; }
    main.home .team ul li:last-of-type {
      margin: 0; }

@media (orientation: landscape) {
  main.home .team ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.home .team ul li {
      width: 48%; } }

@media (min-width: 48rem) {
  main.home .team ul {
    flex-direction: row;
    justify-content: space-between; }
    main.home .team ul li {
      align-items: flex-start;
      flex-direction: column;
      width: 30%;
      margin: 0; }
      main.home .team ul li figure {
        width: 35%; }
      main.home .team ul li a .text {
        align-items: flex-start;
        padding: 0.5rem 0 0;
        text-align: left; }
        main.home .team ul li a .text .who {
          justify-content: flex-start; }
        main.home .team ul li a .text .what {
          padding: 0; } }

@media (min-width: 64rem) {
  main.home .team {
    padding: 4rem; }
    main.home .team ul li figure {
      width: 30%; } }

main.services .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: white; }
  main.services .introduction h1 span {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }

main.services .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: #f5f5f5; }
  main.services .services h2 span {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }
  main.services .services ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    counter-reset: value; }
    main.services .services ul li {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 0 2rem;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.333rem; }
      main.services .services ul li span {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0 0 0.25rem; }
      main.services .services ul li span::before {
        flex: 0 1 auto;
        padding: 0 0.5rem 0 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 90%;
        color: #c69b45;
        counter-increment: value;
        content: "0" counter(value); }
      main.services .services ul li span::after {
        display: block;
        flex: 1;
        height: 1px;
        background: #c4c4c4;
        content: ""; }
      main.services .services ul li ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0.5rem 0 0;
        padding: 0;
        list-style: decimal; }
        main.services .services ul li ul li {
          width: 100%;
          margin: 0;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1rem;
          line-height: 1.5; }
    main.services .services ul li:last-of-type {
      margin: 0; }

main.services .process {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: #f5f5f5; }
  main.services .process h2 {
    background: #f5f5f5; }
    main.services .process h2 span {
      display: block;
      width: 100%;
      margin: 0 0 0.25rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 2;
      text-transform: uppercase;
      color: #c69b45; }
  main.services .process ul {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    counter-reset: steps; }
    main.services .process ul li {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 1rem 0;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.333rem; }
    main.services .process ul li::before {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      z-index: 10;
      width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 0;
      border: 1px solid #c4c4c4;
      border-radius: 100%;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 70%;
      color: #c69b45;
      background: #f5f5f5;
      counter-increment: steps;
      content: "" counter(steps); }
    main.services .process ul li::after {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(1rem - 1px);
      width: 2px;
      height: 100%;
      background: #c4c4c4;
      content: ""; }
    main.services .process ul li:first-of-type {
      padding: 0 0 1rem; }
    main.services .process ul li:last-of-type {
      padding: 1rem 0 0; }

@media (orientation: landscape) {
  main.services .services ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.services .services ul li {
      width: 48%; } }

@media (min-width: 48rem) {
  main.services .services ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.services .services ul li {
      width: 45%; }
  main.services .process ul {
    flex-direction: row;
    justify-content: stretch; }
    main.services .process ul li {
      align-items: flex-start;
      flex-direction: column;
      width: auto;
      padding: 1rem 2rem 1rem 0; }
    main.services .process ul li::before {
      margin: 0 0 1rem; }
    main.services .process ul li::after {
      top: 30%;
      left: 0;
      width: 100%;
      height: 2px; }
    main.services .process ul li:first-of-type {
      padding: 1rem 2rem 1rem 0; }
    main.services .process ul li:last-of-type {
      padding: 1rem 0; }
    main.services .process ul li:last-of-type::after {
      display: none; } }

@media (min-width: 64rem) {
  main.services .introduction {
    padding: 4rem; }
  main.services .services {
    padding: 4rem; }
  main.services .process {
    padding: 4rem; } }

@media (min-width: 90rem) {
  main.services .services ul li {
    width: 30%; }
  main.services .process ul li {
    padding: 1rem 4rem 1rem 0; }
  main.services .process ul li:first-of-type {
    padding: 1rem 4rem 1rem 0; } }

main.about .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: white; }
  main.about .introduction h1 span {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }

main.about .mission {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: #f5f5f5; }
  main.about .mission h2 {
    background: #f5f5f5; }
    main.about .mission h2 span {
      display: block;
      width: 100%;
      margin: 0 0 0.25rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 2;
      text-transform: uppercase;
      color: #c69b45; }
  main.about .mission ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    counter-reset: value; }
    main.about .mission ul li {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 0 2rem;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.333rem; }
      main.about .mission ul li span {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0 0 0.25rem; }
      main.about .mission ul li span::before {
        flex: 0 1 auto;
        padding: 0 0.5rem 0 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 90%;
        color: #c69b45;
        counter-increment: value;
        content: "0" counter(value); }
      main.about .mission ul li span::after {
        display: block;
        flex: 1;
        height: 1px;
        background: #c4c4c4;
        content: ""; }
    main.about .mission ul li:last-of-type {
      margin: 0; }

main.about .team {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background: white; }
  main.about .team h2 span {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2;
    text-transform: uppercase;
    color: #c69b45; }
  main.about .team ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none; }
    main.about .team ul li {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0 0 1rem; }
      main.about .team ul li figure {
        display: grid;
        overflow: hidden;
        width: 25%;
        margin: 0;
        border-radius: 0.25rem; }
        main.about .team ul li figure a img {
          -webkit-transition: all 2.5s ease 0s;
          -moz-transition: all 2.5s ease 0s;
          -ms-transition: all 2.5s ease 0s;
          -o-transition: all 2.5s ease 0s;
          transition: all 2.5s ease 0s;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1); }
        main.about .team ul li figure a:hover img, main.about .team ul li figure a:focus img {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -ms-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25); }
      main.about .team ul li a .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 1rem;
        -webkit-transition: all 0.325s ease 0s;
        -moz-transition: all 0.325s ease 0s;
        -ms-transition: all 0.325s ease 0s;
        -o-transition: all 0.325s ease 0s;
        transition: all 0.325s ease 0s; }
        main.about .team ul li a .text .who {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%; }
          main.about .team ul li a .text .who span.social {
            width: 1.75rem;
            min-width: 1.75rem;
            height: 1.75rem;
            margin: 0 0.25rem 0 0; }
            main.about .team ul li a .text .who span.social svg {
              width: 100%;
              height: 100%;
              -webkit-transition: all 0.325s ease 0s;
              -moz-transition: all 0.325s ease 0s;
              -ms-transition: all 0.325s ease 0s;
              -o-transition: all 0.325s ease 0s;
              transition: all 0.325s ease 0s; }
          main.about .team ul li a .text .who span.name {
            font-family: "Libre Baskerville", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.777rem; }
        main.about .team ul li a .text .what {
          padding: 0 0 0 2rem;
          font-size: 1rem;
          text-transform: capitalize; }
      main.about .team ul li a:hover .text, main.about .team ul li a:focus .text {
        color: #ff5000; }
        main.about .team ul li a:hover .text .who span.social, main.about .team ul li a:focus .text .who span.social {
          fill: #ff5000; }
    main.about .team ul li:last-of-type {
      margin: 0; }
  main.about .team article {
    padding: 2rem 0 0; }
