* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: black;
  background: white;
  scroll-behavior: smooth; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

@media (min-width: 62rem) {
  html {
    font-size: 120%; } }

@media (min-width: 88rem) {
  html {
    font-size: 150%; } }

body, .body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0; }

body.open {
  position: fixed;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden; }

main {
  display: block; }

picture {
  display: grid; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/
h1, h2, h3, h4, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal; }

h1, h2, h3, h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h2 + p,
h3 + p,
h4 + p {
  padding: 0.5rem 0 0; }

p + h1, p + h2, p + h3, p + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4,
dl + h1, dl + h2, dl + h3, dl + h4 {
  padding: 2rem 0 0; }

p {
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5; }

strong, em, b {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal; }

small {
  font-size: 0.8rem; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

h1 span, h2 span {
  display: block;
  width: 100%;
  margin: 0 0 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 2;
  text-transform: uppercase;
  color: #c69b45; }

ul.count {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
  counter-reset: count; }
  ul.count li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 2rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.333rem; }
    ul.count li span {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin: 0 0 0.25rem; }
    ul.count li span::before {
      flex: 0 1 auto;
      padding: 0 0.5rem 0 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 90%;
      color: #c69b45;
      counter-increment: count;
      content: "0" counter(count); }
    ul.count li span::after {
      display: block;
      flex: 1;
      height: 1px;
      background: #c4c4c4;
      content: ""; }
    ul.count li p {
      padding: 0.25rem 0 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.8rem; }
  ul.count li:last-of-type {
    margin: 0; }

@media (min-width: 46rem) {
  ul.count {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0; }
    ul.count li {
      width: 30%;
      margin: 2rem 0 0; }
    ul.count li:last-of-type {
      margin: 2rem 0 0; } }

ul.steps {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
  counter-reset: steps; }
  ul.steps li {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.333rem; }
  ul.steps li::before {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70%;
    color: #c69b45;
    background: white;
    counter-increment: steps;
    content: "" counter(steps); }
  ul.steps li::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(1rem - 1px);
    width: 2px;
    height: 100%;
    background: #c4c4c4;
    content: ""; }
  ul.steps li:first-of-type {
    padding: 0 0 1rem; }
  ul.steps li:last-of-type {
    padding: 1rem 0 0; }

@media (min-width: 46rem) {
  ul.steps {
    flex-direction: row;
    justify-content: stretch; }
    ul.steps li {
      align-items: flex-start;
      flex-direction: column;
      width: auto;
      padding: 0 2rem 0 0; }
    ul.steps li::before {
      margin: 0 0 1rem; }
    ul.steps li::after {
      top: 20%;
      left: 0;
      width: 100%;
      height: 2px; }
    ul.steps li:first-of-type {
      padding: 0 2rem 0 0; }
    ul.steps li:last-of-type {
      padding: 0; }
    ul.steps li:last-of-type::after {
      display: none; } }

@media (min-width: 62rem) {
  ul.steps li {
    padding: 0 3rem 0 0; }
  ul.steps li:first-of-type {
    padding: 0 3rem 0 0; } }

@media (min-width: 88rem) {
  ul.steps li {
    padding: 0 4rem 0 0; }
  ul.steps li:first-of-type {
    padding: 0 4rem 0 0; } }

ul.team {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none; }
  ul.team li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 1rem; }
    ul.team li figure {
      display: grid;
      overflow: hidden;
      width: 4.875rem;
      height: 4.875rem;
      margin: 0;
      border-radius: 0.25rem; }
      ul.team li figure a img {
        -webkit-transition: all 2.5s ease 0s;
        -moz-transition: all 2.5s ease 0s;
        -ms-transition: all 2.5s ease 0s;
        -o-transition: all 2.5s ease 0s;
        transition: all 2.5s ease 0s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      ul.team li figure a:hover img, ul.team li figure a:focus img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
    ul.team li a .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 1rem;
      -webkit-transition: all 0.325s ease 0s;
      -moz-transition: all 0.325s ease 0s;
      -ms-transition: all 0.325s ease 0s;
      -o-transition: all 0.325s ease 0s;
      transition: all 0.325s ease 0s; }
      ul.team li a .text .who {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%; }
        ul.team li a .text .who span.social {
          width: 1.75rem;
          min-width: 1.75rem;
          height: 1.75rem;
          margin: 0 0.25rem 0 0; }
          ul.team li a .text .who span.social svg {
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.325s ease 0s;
            -moz-transition: all 0.325s ease 0s;
            -ms-transition: all 0.325s ease 0s;
            -o-transition: all 0.325s ease 0s;
            transition: all 0.325s ease 0s; }
        ul.team li a .text .who span.name {
          font-family: "Libre Baskerville", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.777rem; }
      ul.team li a .text .what {
        padding: 0 0 0 2rem;
        font-size: 1rem;
        text-transform: capitalize; }
    ul.team li a:hover .text, ul.team li a:focus .text {
      color: #c69b45; }
      ul.team li a:hover .text .who span.social, ul.team li a:focus .text .who span.social {
        fill: #c69b45; }
  ul.team li:last-of-type {
    margin: 0; }

@media (orientation: landscape) {
  ul.team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    ul.team li {
      width: 48%; } }

@media (min-width: 46rem) {
  ul.team {
    flex-direction: row;
    justify-content: space-between; }
    ul.team li {
      align-items: flex-start;
      flex-direction: column;
      width: 30%;
      margin: 0; }
      ul.team li figure {
        width: 4.5rem;
        height: 4.5rem; }
      ul.team li a .text {
        align-items: flex-start;
        padding: 0.5rem 0 0;
        text-align: left; }
        ul.team li a .text .who {
          justify-content: flex-start; }
        ul.team li a .text .what {
          padding: 0; } }

@media (min-width: 62rem) {
  ul.team li figure {
    width: 4.5rem;
    height: 4.5rem; } }

/* LIST LIST */
ul.count li > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0 0;
  padding: 0;
  list-style: decimal; }
  ul.count li > ul li {
    width: 100%;
    margin: 0 0 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.25; }
  ul.count li > ul li:last-of-type {
    margin: 0; }

dl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  dl dt {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Permanent Marker", cursive;
    font-size: 1.333rem; }
  dl dd {
    width: 100%;
    margin: 0 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.5; }
  dl dd:last-of-type {
    margin: 0; }

/* BLOCKQUOTE */
blockquote {
  display: block;
  position: relative;
  width: calc(100% - 4rem);
  margin: 2rem;
  padding: 1.5rem 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  line-height: 1.5; }

blockquote::before {
  display: block;
  position: absolute;
  top: -1rem;
  left: calc(50% - 2rem);
  width: 2rem;
  height: 2rem;
  padding: 0 1rem;
  text-align: center;
  background: #f5f5f5;
  content: url(../images/double-quotes-l.svg); }

blockquote::after {
  display: block;
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 2rem);
  width: 2rem;
  height: 2rem;
  padding: 0 1rem;
  text-align: center;
  background: #f5f5f5;
  content: url(../images/double-quotes-r.svg); }

.visuallyhidden {
  display: none; }

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

.bg.gray p a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal; }

.bg.gray p a:hover, .bg.gray p a:focus {
  color: #c69b45; }

a.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: 1rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit; }
  a.arrow span {
    display: grid;
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 0.25rem;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
    a.arrow span svg {
      width: 100%;
      height: 100%; }

a.arrow:hover, a.arrow:focus {
  color: #c69b45; }
  a.arrow:hover span, a.arrow:focus span {
    margin: 0 0 0 0.5rem;
    fill: #c69b45; }

button, .button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem 1.75rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  background-color: black;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s; }

button:hover, button:focus,
.button:hover, .button:focus {
  color: black;
  background-color: transparent; }

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: black;
  background: #ffe151; }
  .opening h1 span {
    color: inherit; }

@media (min-width: 62rem) {
  .opening {
    padding: 4rem; } }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem; }
  section article {
    padding: 2rem 0 0; }

section.bg.gray {
  background: #f5f5f5; }

section.bg.white {
  background: white; }

@media (min-width: 62rem) {
  section {
    padding: 4rem; } }

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background: white; }
  .explore article {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .explore article figure {
      display: block;
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0 0 0.5rem; }
      .explore article figure a picture {
        overflow: hidden;
        border-radius: 0.25rem; }
        .explore article figure a picture source, .explore article figure a picture img {
          -webkit-transition: all 2.5s ease 0s;
          -moz-transition: all 2.5s ease 0s;
          -ms-transition: all 2.5s ease 0s;
          -o-transition: all 2.5s ease 0s;
          transition: all 2.5s ease 0s;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1); }
      .explore article figure a:hover picture source, .explore article figure a:hover picture img, .explore article figure a:focus picture source, .explore article figure a:focus picture img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
      .explore article figure figcaption {
        display: block;
        margin: 1rem 0 0; }
        .explore article figure figcaption span {
          display: block;
          width: 100%;
          margin: 1rem 0;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 0.8rem;
          text-transform: uppercase; }
      .explore article figure figcaption a {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5;
        -webkit-transition: all 0.325s ease 0s;
        -moz-transition: all 0.325s ease 0s;
        -ms-transition: all 0.325s ease 0s;
        -o-transition: all 0.325s ease 0s;
        transition: all 0.325s ease 0s; }
      .explore article figure figcaption a:hover, .explore article figure figcaption a:focus {
        color: #c69b45; }
    .explore article figure::after {
      display: block;
      width: 100%;
      height: 1px;
      margin: 2rem 0 0;
      background: #f5f5f5;
      content: ""; }
  .explore article:last-of-type figure:after {
    display: none; }

@media (min-width: 46rem) {
  .explore {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .explore article {
      width: 50%;
      margin: 2rem 0 0; }
      .explore article figure::after {
        display: none; }
    .explore article:first-of-type {
      padding: 0 1rem 0 0; }
    .explore article:last-of-type {
      padding: 0 0 0 1rem; } }

@media (min-width: 62rem) {
  .explore {
    padding: 4rem; } }

/* PROJECTS */
section.project {
  padding: 0; }
  section.project h2 {
    padding: 2rem 2rem 0; }
  section.project h2 + p {
    padding: 0.5rem 2rem 0; }
  section.project article {
    display: flex;
    flex-direction: column;
    padding: 0; }
    section.project article dl {
      margin: 1rem 0 0; }
    section.project article figure {
      width: 100%;
      margin: 0; }
  section.project article:first-of-type {
    padding: 0 2rem; }

@media (orientation: landscape), (min-width: 46rem) {
  section.project article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    section.project article dl {
      width: calc(50% - 1rem); } }

@media (min-width: 62rem) {
  section.project h2 {
    padding: 4rem 4rem 0; }
  section.project h2 + p {
    padding: 0.5rem 4rem 0; }
  section.project article dl {
    width: calc(50% - 2rem); }
  section.project article:first-of-type {
    padding: 1rem 4rem 2rem; } }

/* BRIGHT BUCKS */
section.project.bright-bucks article.b {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0;
  background: #896bdb; }
  section.project.bright-bucks article.b figure {
    width: 50%; }

section.project.bright-bucks article.c {
  padding: 2rem 0 0;
  background: #32bebf; }
  section.project.bright-bucks article.c figure.bb {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem; }
  section.project.bright-bucks article.c figure.cc {
    width: 70%;
    margin: 0;
    padding: 0; }

section.project.bright-bucks article.d {
  margin: 0;
  padding: 0;
  background: white; }
  section.project.bright-bucks article.d figure {
    width: 100%; }

@media (orientation: landscape), (min-width: 46rem) {
  section.project.bright-bucks article.b figure {
    width: 33%; }
  section.project.bright-bucks article.b figure.drop {
    display: none; }
  section.project.bright-bucks article.c {
    align-items: flex-end;
    flex-direction: row-reverse; }
    section.project.bright-bucks article.c figure.bb {
      width: 35%;
      padding: 0 0 2rem; }
    section.project.bright-bucks article.c figure.cc {
      width: 35%; } }

@media (min-width: 62rem) {
  section.project.bright-bucks article.b {
    padding: 2rem; }
  section.project.bright-bucks article.c figure.bb {
    padding: 2rem 0 4rem; } }

/* SOLANA */
section.project.solana article.b {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0;
  background: #009e65; }
  section.project.solana article.b figure {
    width: 50%; }

section.project.solana article.c {
  padding: 0; }

@media (orientation: landscape), (min-width: 46rem) {
  section.project.solana article.b figure {
    width: 33%; } }

@media (min-width: 62rem) {
  section.project.solana article.b {
    padding: 2rem; } }

/* FLO RECRUIT */
section.project.flo-recruit article.b {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0;
  background: #d0204e; }
  section.project.flo-recruit article.b figure.bb {
    width: calc(100% - 4rem);
    margin: 1rem 0 0; }
  section.project.flo-recruit article.b figure.cc {
    width: 41.475%;
    margin: 0; }

section.project.flo-recruit article.c {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 2rem 2rem 0;
  background: #d0204e; }
  section.project.flo-recruit article.c figure {
    width: 50%; }

section.project.flo-recruit article.d {
  margin: 0;
  padding: 0;
  background: white; }
  section.project.flo-recruit article.d figure {
    width: 100%;
    margin: 0; }

@media (orientation: landscape), (min-width: 46rem) {
  section.project.flo-recruit article.b {
    align-items: center;
    flex-direction: row; }
    section.project.flo-recruit article.b figure.bb {
      width: 60%;
      margin: 0; }
    section.project.flo-recruit article.b figure.cc {
      width: 33%; }
  section.project.flo-recruit article.c figure {
    width: 33%; } }

@media (min-width: 62rem) {
  section.project.flo-recruit article.b, section.project.flo-recruit article.c {
    padding: 2rem; } }

/* EMBELLO */
section.project.embello article.b {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0;
  background: #b56422; }
  section.project.embello article.b figure.bb {
    width: 41.475%;
    margin: 0; }
  section.project.embello article.b figure.cc {
    width: calc(100% - 4rem);
    margin: 1rem 0 0; }

section.project.embello article.c {
  padding: 0 0 1rem;
  background: #b56422; }
  section.project.embello article.c blockquote {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white; }
  section.project.embello article.c blockquote::before {
    background: #b56422; }
  section.project.embello article.c blockquote::after {
    background: #b56422; }

@media (orientation: landscape), (min-width: 46rem) {
  section.project.embello article.b {
    align-items: center;
    flex-direction: row; }
    section.project.embello article.b figure.bb {
      width: 33%; }
    section.project.embello article.b figure.cc {
      width: 60%;
      margin: 0; }
  section.project.embello article.c blockquote {
    margin: 4rem 2rem; } }

@media (min-width: 46rem) {
  section.project.embello article.c blockquote {
    width: calc(100% - 8rem);
    margin: 4rem; } }

@media (min-width: 62rem) {
  section.project.embello article.b {
    padding: 2rem; }
  section.project.embello article.c {
    padding: 0 0 2rem; }
    section.project.embello article.c blockquote {
      width: calc(100% - 12rem);
      margin: 4rem 6rem; } }

@media (min-width: 88rem) {
  section.project.embello article.c blockquote {
    line-height: 2; } }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0; }
  header .logo {
    display: grid;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 20%;
    max-width: 3.5rem;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
    header .logo svg {
      fill: black; }
  header .logo.open {
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  header .logo a svg {
    fill: black;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
  header .logo a:hover svg, header .logo a:focus svg {
    fill: #939393; }

header nav {
  width: 100%;
  padding: 2rem;
  background: transparent;
  -webkit-transition: width 0.325s ease 0s;
  -moz-transition: width 0.325s ease 0s;
  -ms-transition: width 0.325s ease 0s;
  -o-transition: width 0.325s ease 0s;
  transition: width 0.325s ease 0s; }
  header nav button.menu-toggle {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background: transparent; }
    header nav button.menu-toggle svg {
      width: 2rem;
      height: 2rem;
      fill: black; }
    header nav button.menu-toggle svg.menu-toggle-open {
      -webkit-transition: width 0.325s ease 0s;
      -moz-transition: width 0.325s ease 0s;
      -ms-transition: width 0.325s ease 0s;
      -o-transition: width 0.325s ease 0s;
      transition: width 0.325s ease 0s; }
    header nav button.menu-toggle svg.menu-toggle-close {
      width: 0;
      -webkit-transition: width 0.325s ease 0s;
      -moz-transition: width 0.325s ease 0s;
      -ms-transition: width 0.325s ease 0s;
      -o-transition: width 0.325s ease 0s;
      transition: width 0.325s ease 0s; }
  header nav ul {
    display: flex;
    flex-direction: column;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    list-style-type: none;
    -webkit-transform: translateX(-100rem);
    -moz-transform: translateX(-100rem);
    -ms-transform: translateX(-100rem);
    -o-transform: translateX(-100rem);
    transform: translateX(-100rem);
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s; }
    header nav ul li {
      padding: 1rem 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #939393; }
    header nav ul li a {
      text-decoration: none;
      color: black; }
    header nav ul li a:hover, header nav ul li a:focus {
      color: #939393; }
    header nav ul li:last-child {
      padding: 3rem 0 1rem; }
      header nav ul li:last-child h2 {
        color: black; }
        header nav ul li:last-child h2 span {
          color: black; }
      header nav ul li:last-child p a.arrow {
        font-size: 1.333rem;
        text-transform: none;
        color: black; }
        header nav ul li:last-child p a.arrow span {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 0 0 0.5rem; }
          header nav ul li:last-child p a.arrow span svg {
            fill: black; }
    header nav ul li:last-child::before {
      display: block;
      width: 100%;
      height: 1px;
      margin: 0 0 1rem;
      background: black;
      content: ""; }

header nav.open {
  height: 100vh;
  background: #ffe151; }
  header nav.open button.menu-toggle svg.menu-toggle-open {
    width: 0; }
  header nav.open button.menu-toggle svg.menu-toggle-close {
    width: 2rem; }
  header nav.open ul {
    height: calc(100% - 2rem);
    padding: 1rem 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

@media (orientation: landscape) {
  header nav ul li:last-of-type {
    position: absolute;
    right: 0;
    padding: 1rem 0; } }

@media (min-width: 46rem) {
  header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    position: relative; }
    header nav button.menu-toggle {
      display: none; }
    header nav ul {
      flex-direction: row;
      z-index: 10;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
      header nav ul li {
        width: auto;
        padding: 0 0 0 2rem; }
      header nav ul li:last-child {
        display: none; } }

@media (min-width: 62rem) {
  header nav ul {
    font-size: 0.8rem; } }

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem;
  color: black; }
  footer .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 2rem;
    color: black; }
    footer .contact h2 span {
      display: block;
      width: 100%;
      margin: 0 0 0.25rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 2;
      text-transform: uppercase;
      color: #c69b45; }
    footer .contact p a.arrow svg {
      fill: black; }
    footer .contact p a.arrow:hover, footer .contact p a.arrow:focus {
      color: #c69b45; }
      footer .contact p a.arrow:hover svg, footer .contact p a.arrow:focus svg {
        fill: #c69b45; }
  footer p.copyright {
    padding: 1rem 0 0;
    font-size: 0.8rem;
    text-align: center; }

@media (orientation: landscape) {
  footer p.copyright {
    text-align: left; } }

@media (min-width: 46rem) {
  footer p.copyright {
    text-align: left; } }

/* FOOTER NAVIGATION */
footer nav {
  width: 100%; }
  footer nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    margin: auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.5;
    list-style-type: none;
    color: #c69b45; }
    footer nav ul li {
      padding: 0 0.5rem;
      color: #c69b45; }
    footer nav ul li a {
      color: black; }
    footer nav ul li a:hover, footer nav ul li a:focus {
      color: #c69b45; }

@media (orientation: landscape) {
  footer {
    align-items: flex-start; }
    footer nav ul {
      justify-content: flex-start; }
      footer nav ul li {
        padding: 0 1rem 0 0; } }

@media (min-width: 46rem) {
  footer {
    align-items: flex-start; }
    footer nav ul {
      justify-content: flex-start; }
      footer nav ul li {
        padding: 0 1rem 0 0; } }

@media (min-width: 62rem) {
  footer {
    padding: 4rem; }
    footer p.copyright {
      font-size: 0.69rem; } }
