// COLORS
$color-dk-blue: #1b1e2e;
$color-dk-gray: #939393;
$color-md-gray: #c4c4c4;
$color-lt-gray: #f5f5f5;

$color-mf-nor: #491019;
$color-mf-hov: #7d5e61;
$color-mf-acc: #773423;

$color-ib-nor: #900009;
$color-ib-hov: #420606;

$color-hover: #ff5000;
$color-accen: #c69b45;

$color-embello: #b56422;
$color-bright-bucks: #896bdb;
$color-solana: #009e65;
$color-florecruit: #fccc7e;


// FONTS
@mixin font-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-body-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-headline {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-headline-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}


// MIXINS
@mixin transition($property, $easing, $duration, $delay) {
  -webkit-transition: $property $easing $duration $delay;
  -moz-transition: $property $easing $duration $delay;
  -ms-transition: $property $easing $duration $delay;
  -o-transition: $property $easing $duration $delay;
  transition: $property $easing $duration $delay;
};

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
};


// BASE
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  @include font-body;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: black;
  background: $color-dk-blue;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media (min-width: 64rem) {
  html {font-size: 120%;}
}

@media (min-width: 90rem) {
  html {font-size: 150%;}
}

body, .body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0;
}

body.open {
  position: fixed;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}

main {
  display: block;
//   position: relative;
}

picture {display: grid;}

img {
  width: 100%;
  height: auto;
  margin: 0;
}