// FOOTER
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem;
  color: black;
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 2rem;
    color: black;
    h2 {
      span {
        display: block;
        width: 100%;
        margin: 0 0 0.25rem;
        @include font-body-bold;
        font-size: 0.8rem;
        line-height: 2;
        text-transform: uppercase;
        color: $color-accen;
      }
    }
    p a.arrow {
      svg {
        fill: black;
      }
    }
    p a.arrow:hover, p a.arrow:focus {
      color: $color-accen;
      svg {
        fill: $color-accen;
      }
    }
  }
  p.copyright {
    padding: 1rem 0 0;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (orientation: landscape) {
  footer {
    p.copyright {text-align: left;}
  }
}

@media (min-width: 48rem) {
  footer {
    p.copyright {text-align: left;}
  }
}


/* FOOTER NAVIGATION */
footer {
  nav {
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    margin: auto;
    padding: 0;
    @include font-body-bold;
    font-size: 0.8rem;
    line-height: 1.5;
    list-style-type: none;
    color: $color-accen;
    li {
      padding: 0 0.5rem;
      color: $color-accen;
    }
    li a {
      color: black;
    }
    li a:hover, li a:focus {
      color: $color-accen;
    }
  }
}
}

@media (orientation: landscape) {
  footer {
    align-items: flex-start;
    nav {
      ul {
        justify-content: flex-start;
        li {padding: 0 1rem 0 0;}
      }
    }
  }
}

@media (min-width: 48rem) {
  footer {
    align-items: flex-start;
    nav {
      ul {
        justify-content: flex-start;
        li {padding: 0 1rem 0 0;}
      }
    }
  }
}

@media (min-width: 64rem) {
  footer {
    padding: 4rem;
    p.copyright {font-size: 0.69rem;}
  }
}