// NAVIGATION
nav {
  width: 100%;
  button.menu-toggle {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    svg {
      width: 2rem;
      height: 2rem;
      fill: white;
    }
    svg.menu-toggle-open {@include transition(width, 0.325s, ease, 0s);}
    svg.menu-toggle-close {
      width: 0;
      @include transition(width, 0.325s, ease, 0s);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 0;
    margin: auto;
    padding: 0;
    @include font-headline-bold;
    font-size: 1rem;
    line-height: 1;
    list-style-type: none;
    @include transform(translateX(-100rem));
    @include transition(all, 0.325s, ease, 0s);
    li {
      width: 100%;
      padding: 1rem 0;
    }
  }
}

nav.open {
  height: calc(100vh - 2rem);
  button.menu-toggle {
    svg.menu-toggle-open {width: 0;}
    svg.menu-toggle-close {width: 2rem;}
  }
  ul {
    height: auto;
    padding: 1rem 0 0;
    @include transform(translateX(0));
  }
}